TWILIO_SID="twilioaccountsid"
TWILIO_TOKEN="twiliotoken"
TWILIO_FROM_NUMBER="the 'to:' phone number in twilio"
MY_NUMBER="my number haha"
WEATHER_KEY="openweatherapikey"
MY_LATITUDE="yourlatitude"
MY_LONGITUDE="yourlongitude"